.container {
	height: 460px;
	width: 730px;
	border: 1px solid rgba(0,0,0,0.2);
	/* Add styles here */
	margin: 15px auto;
	display: inline-block;
	
}
.divider {
	width: 740px;
	margin-bottom: 20px;
}

#navigation {
    background:  #ccccb3;
    text-align: right;
    text-decoration: none;
    display: block;
}

.big-container {
	width: 100%;
	text-align: center;

}

#header {
	margin-top: 0px;
	font-size: 72px;
	text-align: center;
	font-family: Lato;
	color: gray;
}

a {
	color: white;
    font-family: Lato;
    margin: 5px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

#header2 {
    margin-top: 0px;
	font-size: 36px;
	text-align: center;
	font-family: Lato;
	color: gray;
}
#map-overlay {
    
}
#explore {
    opacity: 0.5;
    transition: opacity .5s ease-out;
}

#explore:hover {
    opacity: 1;
}

ul {
    list-style-type: none;
}

.overlay {
    transition: opacity .5s ease-out;
    z-index: 1;
    height: 460px;
    width: 730px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8); /*can be anything, of course*/
    
}

.overlay-text {
    transition: opacity .5s ease-out;
    font-size: 46px;
	font-family: Lato;
	color: white;
    position: absolute;
    z-index: 2;
}

.overlay-text:hover {
    opacity: 0;
}

.overlay:hover {
    opacity: 0;
}



